/* Estilos personalizados */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.hero {
    background: url('home.png') no-repeat center center/cover; /* Imagen de fondo local */
    /* Alternativa con URL externa: background: url('https://source.unsplash.com/random/1600x900/?running') no-repeat center center/cover; */
    padding: 80px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura para mejorar legibilidad */
    background-blend-mode: overlay; /* Combina la imagen con la capa oscura */
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

section {
    padding: 50px 0;
}

.table-responsive {
    overflow-x: auto;
}

.table th, .table td {
    font-size: 0.9rem;
    white-space: nowrap;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel {
    max-width: 60%;
    margin: 0 auto;
}

#noResults {
    max-width: 600px;
    margin: 0 auto;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .table th, .table td {
        font-size: 0.8rem;
        padding: 8px;
    }

    .btn-lg {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .carousel-item img {
        max-height: 300px;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .btn {
        width: 100%;
    }

    .carousel-item img {
        max-height: 200px;
    }
}
